import { NextPage } from 'next';
import React from 'react';

import { {{pascalCase name}}Container, {{pascalCase name}}Content } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: NextPage = () => {
  return (
    <{{pascalCase name}}Container>
        <p>Hello, this page us {{pascalCase name}}</p>
    </{{pascalCase name}}Container>
  );
};

export default {{pascalCase name}};
